<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>HUI统一基础框架</title>
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script src="./sysconfig.js"></script>
    <script>
      if (window.LOCAL_CONFIG.SYS_NAME) {
        document.title = window.LOCAL_CONFIG.SYS_NAME
      }
    </script>

    <script src="./static/locale/lang/en-US.js?<%= webpack.hash %>"></script>
    <script src="./static/locale/lang/zh-CN.js?<%= webpack.hash %>"></script>
    <script src="./static/locale/lang/zh-TW.js?<%= webpack.hash %>"></script>
    <% for (let i of htmlWebpackPlugin.options.dll) { %>
      <script src="<%= i %>"></script>
    <% } %>
    <script src="./static/js/require.js"></script>
    <script>
      window.requirejs = window.require
      window.require = null
      requirejs.config({
        paths:{
          "vue": "./static/js/vue.min",
          "vuex": "./static/js/vuex.min",
        },
      });
    </script>
  </body>
</html>
