body {
  background: $body-color;
  height: 100%;
}
#app {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color:$text-color;
  height: 100%;
}
.app-wrapper {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-wrapper {
  margin: $topbar-base-height + $navbar-base-height 0 0 $sidebar-base-width;
  background: $body-color;
}
.hideSidebar.main-wrapper {
  margin: $topbar-base-height + $navbar-base-height 0 0 $sidebar-collapse-width;
  background: $body-color;
}

.app-main{
  margin-left: 9px;
  margin-right: 8px;
  top: 8px;
  border-radius: 5px;
  height: calc(100% - 16px);
  // height: calc(100vh - 16px);
  // padding: 2px 5px 0;
  text-align: left;
  position: relative;
}

.h-btn-msg-fetch-close{
  display: none;
}

/* 可以设置不同的进入和离开动画 */
/* 设置持续时间和动画函数 */
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .3s ease;
}
.component-fade-enter, .component-fade-leave-to
/* .component-fade-leave-active for below version 2.1.8 */ {
  opacity: 0;
}

//菜单动画
.collapse-transition {
  transition: .2s height ease-in-out, .2s padding-top ease-in-out, .2s padding-bottom ease-in-out;
}
