.mainIndexPage {
  height: 100%;
  .img-responsiv{
    position: relative;
    bottom:0;
    width: 100%;
    height: 100%;
    background: $mainBg-image no-repeat 0 0;
    background-size:cover;
    &-wrapper {
      text-align:center;
      margin: 0 auto;
      width: 500px;
      top:100px;
      img{
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 400px;
        height: 280;
        transform: translate(-50%,-50%);
      }
      span{
        position: absolute;
        left: 50%;
        top: 85%;
        transform: translate(-50%,-50%);
        font-size: 16px;
        color:  $mainBg-text-color;
        font-weight: bold;
      }
    }
  }
}
.vertical-center-modal{
  //弹出框文本可选
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.h-btn-msg-fetch-close{
  display: none;
}


